<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?define UpgradeCode="384ACDAA-EBC3-49FA-BF62-82B4E612F8B1"?>

  <Package
    Manufacturer="Amazon Web Services, Inc."
    ProductCode="*"
    UpgradeCode="$(var.UpgradeCode)"
    Name="Amazon Redshift ODBC Driver 64-bit"
    Version="$(var.VERSION)"
    Language="1033"
    InstallerVersion="500">

    <SummaryInformation Keywords="Redshift, ODBC" Description="Amazon Redshift ODBC Driver x64" />

    <MajorUpgrade 
      DowngradeErrorMessage="A newer version is already installed." 
      AllowSameVersionUpgrades="yes"
      Schedule="afterInstallValidate" />

    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="BASEDIR" Name="Amazon Redshift ODBC Driver x64">
        <Directory Id="BINDIR" Name="Drivers">
          <Merge Id="rsodbcm" Language="1033" SourceFile="rsodbc_x64.msm" />
        </Directory>
        <Directory Id="SAMPLESDIR" Name="samples">
          <Directory Id="CONNECTDIR" Name="connect" />
        </Directory>
      </Directory>
    </StandardDirectory>
    
    <ComponentGroup Id="MainComponents">
      <Component Id="rsodbcsql.exe" Guid="BC8A809A-59CA-41f6-A657-06553364049A" Bitness="always64" Directory="BASEDIR">
        <File Id="rsodbcsql.exe" Source="$(var.ProjectDir)/cmake-build/install/rsodbcsql.exe" />
      </Component>
      
      <Component Id="rs_ini_file" Guid="636F970E-445F-431F-85CE-4F5DF61B345B" Bitness="always64" Directory="BINDIR">
        <File Id="amazon.redshiftodbc.ini" Source="$(var.ProjectDir)/src/odbc/rsodbc/amazon.redshiftodbc.ini" />
      </Component>
      
      <Component Id="rsodbc_samples.files" Guid="E7E557CF-0531-4ec5-9C4E-7431722B1338" Bitness="always64" Directory="CONNECTDIR">
        <File Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/connect.c" />
        <File Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/connect.rc" />
        <File Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/resource.h" />
        <File Id="redshift.ico" Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/redshift.ico" />
        <File Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/connect.sln" />
        <File Source="$(var.ProjectDir)/src/odbc/rsodbc/samples/connect/connect.vcxproj" />
        <File Source="$(var.ProjectDir)/cmake-build/install/connect.exe" />
      </Component>
    </ComponentGroup>

    <Feature Id="RSODBC" Title="Amazon Redshift ODBC Driver x64" Level="1" ConfigurableDirectory="BASEDIR">
      <MergeRef Id="rsodbcm" />
      <ComponentGroupRef Id="MainComponents" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="BASEDIR" />
    <ui:WixUI Id="WixUI_FeatureTree" />
    
    <WixVariable Id="WixUILicenseRtf" Value="Amazon_Redshift_EULA.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="background.png" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <Icon Id="redshift_icon" SourceFile="../redshift.ico"/>
    <Property Id="ARPPRODUCTICON" Value="redshift_icon" />
  </Package>
</Wix>