<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module
    Id="RSODBC"
    Version="$(var.VERSION)"
    Language="1033">

    <Package
    
      Id="5757C18B-A2EA-4593-B468-74DA3D7231D4"
      Description="Amazon Redshift ODBC Driver x64"
      Keywords="Redshift, ODBC"
      Manufacturer="Amazon Web Services, Inc."
      InstallerVersion="200"
      Platform="x64"
      Languages="1033"
      SummaryCodepage="1252" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="BINDIR" Name=".">
        <Component Id="rsodbc.files" Guid="486400C3-BD3B-424d-8B1F-C9DA38BDAA88" Win64="yes">
          <!-- Redshift -->
          <File Id="rsodbc.dll" Name="rsodbc.dll" Source="$(var.ProjectDir)/cmake-build/install/rsodbc64.dll" />
          <File Id="root.crt" Name="root.crt" Source="../root.crt" />
          <File Id="libcrypto_3_x64.dll" Name="libcrypto-3-x64.dll" Source="$(var.DependenciesDir)/bin/libcrypto-3-x64.dll" />
          <File Id="libssl_3_x64.dll" Name="libssl-3-x64.dll" Source="$(var.DependenciesDir)/bin/libssl-3-x64.dll" />
          <File Id="rsodbcsetup.dll" Name="rsodbcsetup.dll" Source="$(var.ProjectDir)/cmake-build/install/rsodbcsetup.dll" />
          <File Id="gssapi64.dll" Name="gssapi64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/gssapi64.dll" />
          <File Id="krb5_64.dll" Name="krb5_64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/krb5_64.dll" />
          <File Id="k5sprt64.dll" Name="k5sprt64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/k5sprt64.dll" />
          <File Id="wshelp64.dll" Name="wshelp64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/wshelp64.dll" />
          <File Id="comerr64.dll" Name="comerr64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/comerr64.dll" />
          <File Id="msvcr100.dll" Name="msvcr100.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/msvcr100.dll" />
          <File Id="krbcc64.dll" Name="krbcc64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/krbcc64.dll" />
          <File Id="leashw64.dll" Name="leashw64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/leashw64.dll" />
          <File Id="xpprof64.dll" Name="xpprof64.dll" Source="$(var.ProjectDir)/src/pgclient/kfw-3-2-2-final/bin/Win64/xpprof64.dll" />

          <!-- AWS SDK C++ DLLs -->
          <File Id="aws_cpp_sdk_core.dll" Name="aws-cpp-sdk-core.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-core.dll" />
          <File Id="aws_cpp_sdk_redshift.dll" Name="aws-cpp-sdk-redshift.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-redshift.dll" />
          <File Id="aws_cpp_sdk_redshift_serverless.dll" Name="aws-cpp-sdk-redshift-serverless.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-redshift-serverless.dll" />
          <File Id="aws_cpp_sdk_sts.dll" Name="aws-cpp-sdk-sts.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-sts.dll" />
          <File Id="aws_cpp_sdk_sso_oidc.dll" Name="aws-cpp-sdk-sso-oidc.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-sso-oidc.dll" />
          <File Id="aws_cpp_sdk_sso.dll" Name="aws-cpp-sdk-sso.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-sso.dll" />
          <File Id="aws_cpp_sdk_identity_management.dll" Name="aws-cpp-sdk-identity-management.dll" Source="$(var.DependenciesDir)/bin/aws-cpp-sdk-identity-management.dll" />
          <File Id="aws_crt_cpp.dll" Name="aws-crt-cpp.dll" Source="$(var.DependenciesDir)/bin/aws-crt-cpp.dll" />

          <!-- AWS C Runtime DLLs -->
          <File Id="aws_c_auth.dll" Name="aws-c-auth.dll" Source="$(var.DependenciesDir)/bin/aws-c-auth.dll" />
          <File Id="aws_c_cal.dll" Name="aws-c-cal.dll" Source="$(var.DependenciesDir)/bin/aws-c-cal.dll" />
          <File Id="aws_c_common.dll" Name="aws-c-common.dll" Source="$(var.DependenciesDir)/bin/aws-c-common.dll" />
          <File Id="aws_c_compression.dll" Name="aws-c-compression.dll" Source="$(var.DependenciesDir)/bin/aws-c-compression.dll" />
          <File Id="aws_c_event_stream.dll" Name="aws-c-event-stream.dll" Source="$(var.DependenciesDir)/bin/aws-c-event-stream.dll" />
          <File Id="aws_c_http.dll" Name="aws-c-http.dll" Source="$(var.DependenciesDir)/bin/aws-c-http.dll" />
          <File Id="aws_c_io.dll" Name="aws-c-io.dll" Source="$(var.DependenciesDir)/bin/aws-c-io.dll" />
          <File Id="aws_c_mqtt.dll" Name="aws-c-mqtt.dll" Source="$(var.DependenciesDir)/bin/aws-c-mqtt.dll" />
          <File Id="aws_c_s3.dll" Name="aws-c-s3.dll" Source="$(var.DependenciesDir)/bin/aws-c-s3.dll" />
          <File Id="aws_c_sdkutils.dll" Name="aws-c-sdkutils.dll" Source="$(var.DependenciesDir)/bin/aws-c-sdkutils.dll" />
          <File Id="aws_checksums.dll" Name="aws-checksums.dll" Source="$(var.DependenciesDir)/bin/aws-checksums.dll" />

          <!-- c-ares DLL (DNS resolver) -->
          <File Id="cares.dll" Name="cares.dll" Source="$(var.DependenciesDir)/bin/cares.dll" />

          <!-- Compression libraries -->
          <File Id="zlib1.dll" Name="zlib1.dll" Source="$(var.DependenciesDir)/bin/zlib1.dll" />

          <!-- Visual C++ 2022 Runtime DLLs -->
          <!-- Note: These are typically found in the Windows system directory or VC Redist folder -->
          <!-- If not in DependenciesDir, they should be in the system or copied to cmake-build/install -->
          <File Id="vcruntime140.dll" Name="vcruntime140.dll" Source="C:\Windows\System32\vcruntime140.dll" />
          <File Id="vcruntime140_1.dll" Name="vcruntime140_1.dll" Source="C:\Windows\System32\vcruntime140_1.dll" />
          <File Id="msvcp140.dll" Name="msvcp140.dll" Source="C:\Windows\System32\msvcp140.dll" />

          <!-- Note, installing the driver properly (IE, using ODBCDriver) has proven unreliable -->
          <!--       so we install the registry keys manually ourselves.                         -->
          <RegistryValue Id="rsodbc.reg.1" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Name="Amazon Redshift ODBC Driver (x64)" Type="string" Value="Installed" />
          <RegistryValue Id="rsodbc.reg.2" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="APILevel" Type="string" Value="1" />
          <RegistryValue Id="rsodbc.reg.3" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="ConnectFunctions" Type="string" Value="YYY" />
          <RegistryValue Id="rsodbc.reg.4" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="CPTimeout" Type="string" Value="60" />
          <RegistryValue Id="rsodbc.reg.5" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="Driver" Type="string" Value="[#rsodbc.dll]" />
          <RegistryValue Id="rsodbc.reg.6" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="DriverODBCVer" Type="string" Value="3.52" />
          <RegistryValue Id="rsodbc.reg.7" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="FileUsage" Type="string" Value="0" />
          <RegistryValue Id="rsodbc.reg.8" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="Setup" Type="string" Value="[#rsodbcsetup.dll]" />
          <RegistryValue Id="rsodbc.reg.9" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="SQLLevel" Type="string" Value="1" />
          <RegistryValue Id="rsodbc.reg.10" Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\Amazon Redshift ODBC Driver (x64)" Name="UsageCount" Type="integer" Value="1" />
        </Component>
      </Directory>
    </Directory>

  </Module>
</Wix>
